.company {
  width: 280px;
}

.company .header {
  background-color:  #F0F0F0;
  border-radius: 10px 10px 0px 0px;
  height: 104px;
}
.company img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.company .footer {
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.company .footer h4 {
  color: #6278F7;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.company .footer h5 {
  font-size: 16px;
  color: #595353;
  margin: 0;
  /* width: 250px; */
  width: 250px;
  box-sizing: content-box;
}

.company .footer h6 {
  font-size: 12px;
  color: #595353;
  margin: 0;
}
