.field {
  text-align: center;
  padding: 32px;
  margin: 50px;
  border-radius: 20px;
  box-shadow: 8px 8px 16px rgba(0,0,0,0.08);
}

.field h3 {
  font-size: 32px;
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 8px;
}

.field .companies {
  display: flex;
  justify-content: center;
  margin: 32px 0;
  gap: 50px;
  flex-wrap: wrap;
}
