.field {
  text-align: center;
  padding: 32px;
}

.field h3 {
  font-size: 32px;
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 8px;
}

.field .companies {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  flex-wrap: wrap;
}
