$light-green: #d8fbec;
$main-green: #93F3CB;

$light-purple: #d7d4fa;
$main-purple: #766CEF;

$light-pink: #fad1e3;
$main-pink: #EF6CA3;

$light-orange: #ffd6bc;
$main-orange: #FF6400;

$light-yellow: #F5F9C5;
$main-yellow: #EFCB04;

$light-brown: #e1c8c3;
$main-brown: #BC857A;
