.banner {
  background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(/public/images/banner.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
}

.text {
  position: absolute;
  left: 8%;
  text-align: justify;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
}

p {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
  opacity: .7;
}

.btn-flat {
  text-decoration: none;
  color: black;
  padding: 8px 24px;
  border-radius: 8px;
  background: #edf49a;
  transition: background 0.3s ease;
  max-width: fit-content;
  font-weight: 600;
  cursor: pointer;
}

.btn-flat:hover {
  filter: brightness(0.9);
}

a {
  margin-top: 10px;
}
